{% extends 'shop/base.html' %}
{% block extra_head %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
  body{
    background-color: #eee;
  }
  .container{
    font-family: 'Overpass', sans-serif;
    text-align: justify;
    padding-top: 5%;
    
  }
  #username{
    margin-top: 2%;
   
  }
  #email{
  
  }
  #bio{
    margin-bottom: 4%;
   
  }

  @media (max-width: 600px) {
    .container{
      padding-top: 5%;
      padding-left: 5%;
      padding-right: 5%;
      text-align: center;
    }
    #username{
      margin-top: 5%;
      text-align: justify;
    }
    #email{
      text-align: justify;
    }
    #bio{
      margin-top: 6%;
      padding-top: 6%;
      text-align: justify;
    } 
    .rounded-circle{
      margin-top: 2%;
    }
}

</style>
{% endblock extra_head %}

{% block content %}
<div class="container-fluid">
    <div class="container">
      {% if user.pic %}
      <br>
      <br>
      <img src="{{user.pic.url}}" class="rounded-circle" width="175" height="175" alt="">
        <br>
        <br>
      {% else %}
        <br>
        <br>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTqVg_URh9Mvrm3NYaTlCUyiM7r382ohELc1g&usqp=CAU" class="rounded-circle" width="250"
        height="250" alt="">
        <br>
        <br>
      {% endif %}

      <p id="username">name : {{user.username}}</p>
      <hp id="email">email   : {{user.email}} </p>
      <hr>
      
      <a href="{% url 'userupdate'  user.id %}"><button type="button"class="btn btn-outline-dark btn-sm" id="editprofile">Edit Profile</button></a>
      <a href="{% url 'password_change' %}"><button type="button"class="btn btn-outline-dark btn-sm" id="editprofile">Change Password</button></a>
    </div>
    <hr>


    <div class="container">
      <h3>Your Orders</h3>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">OrderId</th>
            <th scope="col">Image</th>
            <th scope="col">Product</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>

          </tr>
        </thead>
        <tbody>
          {% for item in order %}
          <tr>
            <th scope="row">{{item.id}}</th>
            <td> <img src="{{item.product.image.url}}" class="img-fluid" width="70px" height="70px"></td>
            <td>{{item.product}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</div>

{% endblock %}

