{% extends 'shop/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="{{product.image.url}}" alt="" width="300px" height="200px">
            </div>
            <div class="col-md-8">
                <h3 class="my-3">{{product.name}}</h3>
                <hr>
                <h4 class="my-3">₹{{product.price}}</h4>
                <hr>
                <p>{{product.description}}</p>
                
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline-dark btn-sm" value="Add to Cart">
                </form>
            
            </div>
        </div>
        
        <hr>
        <div class="row">
            <div class="col-12">
                 <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.review|as_crispy_field:"bootstrap" }}
                    <br>
                    <input type="submit" class='btn btn-success' value="Leave Review">
                </form>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <h2 class="mt-2">Reviews</h2>
                <hr class="mt-0 mb-4">
                {% for review in product_review reversed %}
                <h5>{{review.user}}:
                    <span>{{review}}</span>
                </h5>
                <p>{{review.created}}</p>
                <hr>
                {% endfor %}
            </div>
        </div>
      
        
    

    </div>

{% endblock content %}