{% extends "shop/base.html" %}
  
{% block content %}

<div class="container">
    <br>
    <!-- Page Heading/Breadcrumbs -->
    <h3 class="mt-4 mb-3">Category</h3>
 
    <div class="row">
      <!-- category column --> 
      <div class="col-lg-3 mb-4">
        <div class="list-group">
          <a href="{% url "shop:product_list" %}" class="list-group-item" style="color: black;">All</a>
          
          {% for cat in categories %}
            <a href="{{ cat.get_absolute_url }}" class="list-group-item" style="color: black;">{{cat.name}}</a>
          {% endfor %}
            
        </div>
      </div>
      <!-- Product Column -->
      <div class="col-lg-9 mb-4">
            <div class="row">
                {% for product in products %}
                <div class="col-lg-4 col-sm-6 portfolio-item">
                    <div class="card h-100">
                      {% if product.image %}
                        <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="{{ product.image.url }}" alt="" width="100%" height="auto"></a>
                      {% else %}
                        <a href="{{ product.get_absolute_url }}"><img class="card-img-top" src="http://placehold.it/700x400" alt="" width="100%" height="auto"></a>
                      {% endif %}</a>
                      <hr>
                      <div class="card-body">
                        <h5 class="card-title">
                          <a href="{{ product.get_absolute_url }}" style="color: darkblue;">{{product.name}}</a>
                        </h5>
                        <hr>
                        <h6>₹{{product.price}}</h6>
                        
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
      </div>
    </div>
  </div>
    
{% endblock content %}
    